@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: brown;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* for main menu */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, b, u, i,
center, dl, dt, dd, ol, ul, li, form, lable, legend, caption, tbody, tfoot, thead, .resset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

a, a:focus, a:hover {
  text-decoration: none;
}

.main-menu {
  padding: 0;
  margin: 0 auto;
  width: 980px;
}

.main-menu {
  ul {
    >li {
      &:first-child {
        border: none;
      }
    }
  }
}

.main-menu {
  ul {
    >li {
      .menu-home {
        a {
          padding: 0 4px 0 10px;
          font-size: 26px;
        }
      }
    }
  }
}

.main-menu {
  ul {
    >li {
      float: left;
      border-left: 1px solid #466079;
      position: relative;
      &:hover {
        .sub-menu {
          display: block;
        }
      }
      >a {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        line-height: 50px;
        padding: 0px 14px;
        &:hover {
          color: #dcdcdc;
        }
        >i {
          .fa {
            margin-right: 6px;
          }
        }
      }
    }
  }
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-menu {
  .sub-menu.span-2 {
    width: 650px;
    >li {
      float: left;
      width: 25%;
    }
  }
  .sub-menu.span-3 {
    width: 450px;
    >li {
      float: left;
      width: 25%;
    }
  }
}

.main-menu {
  .sub-menu {
    top: 100%;
    left: 0;
    width: 166px;
    background-color: rgba(52,73,94,0.9);
    z-index: 101;
    display: none;
  }
}

.main-menu {
  ul {
    .sub-menu {
      >li {
        a {
          font-size: 13px;
          font-weight: normal;
          font-family: Arial;
          text-transform: none;
          line-height: 20px;
          padding: 7px;
          white-space: nowrap;
          display: block;
        }
      }
    }
  }
}

.absolute {
  position: absolute;
}

.main-menu {
  ul {
    .sub-menu {
      >li {
        border-left: none;
        float: none;
      }
    }
  }
}

.fix-body {
  margin-top: 100px;
}

/* for show movie content */
.share-like-bar {
  margin-top: 10px;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  width: 1020px;
}

.tn-main-l {
  border-radius: 5px;
  float: left;
  width: 300px;
  padding-top: 1px;
  position: relative;
  top: 0px;
  bottom: auto;
  left: auto;
  .block-movie {
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 12px;
    padding-bottom: 10px;
    .header-block-title {
      border-radius: 5px;
      margin: 0 0 10px 0;
      text-align: center;
      border-bottom: transparent 3px solid;
      background: #f2f2f2;
      padding: 5px 15px;
      font-size: 17px;
      color: #666;
      text-transform: uppercase;
      border-bottom-color: #67c920;
    }
    .block-child {
      padding: 5px 5px;
      margin-top: 0;
      font-family: 'Open Sans',sans-serif;
      font-size: 14px;
      .filminfo-fields {
        margin: 0 0 10px;
        padding: 0px 10px 0px 20px;
        ul {
          width: 100%;
          display: block;
          list-style-type: disc;
          -webkit-margin-before: 1em;
          -webkit-margin-after: 1em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          -webkit-padding-start: 40px;
        }
      }
      .line-bottom {
        clear: both;
        border-bottom: 1px solid #ccc;
        margin-top: 5px;
      }
    }
  }
}
.rate-star {
  display: inline-block;
  background: url(big-star.png);
  background-size: cover;
  height: 40px;
  width: 46px;
  line-height: 43px;
  text-align: center;
  top: -8px;
  font-weight: bold;
  position: relative;
}
.rate-vote {
  width: 80%;
  display: inline-block;
  padding-left: 10px;
  .rate-people {
    font-size: 11px;
  }
  .your-vote {
    display: inline-block;
    font-size: 11px;
  }
}

.test-tempolary {
  background-image: url("default-bg.jpg");
}
/* for admin manage categories page */
.fix-h1 {
  font-size: 30px;
  color: #0fc720;
}
.mg-boot {
  margin-bottom: 20px;
}
.mg-top {
  margin-top: 20px;
}
.text-c {
  text-align: center;
}
